In [ ]:
import seaborn as sns
data=sns.load_dataset("titanic")

In [ ]:
data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [ ]:
#List of categorical features- 'sex' , 'embarked' , 'alone' , 'pclass' , 'survived'

In [ ]:
data=data[['sex' , 'embarked' , 'alone' , 'pclass' , 'survived']]
data.head()

      sex embarked  alone  pclass  survived
0    male        S  False       3         0
1  female        C  False       1         1
2  female        S   True       3         1
3  female        S  False       1         1
4    male        S   True       3         0

In [ ]:
#Before applying chi square test apply label encoding on each and every feature

In [ ]:
data['sex']=np.where(data['sex']=='male',1,0)
data.head()

<ipython-input-52-3a9af4d54588>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sex']=np.where(data['sex']=='male',1,0)

   sex embarked  alone  pclass  survived
0    1        S  False       3         0
1    0        C  False       1         1
2    0        S   True       3         1
3    0        S  False       1         1
4    1        S   True       3         0

In [ ]:
#sex column
import numpy as np

#embarked column
ordinal_label={k:i for i,k in enumerate(data['embarked'].unique(),0)}
data['embarked']=data['embarked'].map(ordinal_label)

data.head()

<ipython-input-53-72a9b8bfa74a>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['embarked']=data['embarked'].map(ordinal_label)

   sex  embarked  alone  pclass  survived
0    1         0  False       3         0
1    0         1  False       1         1
2    0         0   True       3         1
3    0         0  False       1         1
4    1         0   True       3         0

In [ ]:
#alone column
data['alone']=np.where(data['alone']==True,1,0)
data.head()

<ipython-input-54-e297b5cc8707>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['alone']=np.where(data['alone']==True,1,0)

   sex  embarked  alone  pclass  survived
0    1         0      0       3         0
1    0         1      0       1         1
2    0         0      1       3         1
3    0         0      0       1         1
4    1         0      1       3         0

In [ ]:
#Train-Test Split (done to avoid over fitting)
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(data[['sex' , 'embarked' , 'alone' , 'pclass']],data['survived'],test_size=0.3,random_state=0)

In [ ]:
x_train.head()

     sex  embarked  alone  pclass
857    1         0      1       1
52     0         1      0       1
386    1         0      0       3
124    1         0      0       1
578    0         1      0       3

In [ ]:
x_train.isnull().sum()

sex         0
embarked    0
alone       0
pclass      0
dtype: int64

In [ ]:
#Perform chi sqaure test
from sklearn.feature_selection import chi2
f_p_values=chi2(x_train,y_train)
f_p_values
#chi2 returns two values p value and f score

(array([63.55447864, 11.83961845,  9.03328564, 21.61080949]),
 array([1.55992554e-15, 5.79837058e-04, 2.65107556e-03, 3.33964360e-06]))

In [ ]:
#There should be no Nan values in the array above
#We use chi2 in univariate analysis
#The first value in th array is f score, the higher the value of f score the better is the feature
#The second array values are the p values, the lesser the p value the more important that feature is

In [ ]:
import pandas as pd
p_values=pd.Series(f_p_values[1])
p_values.index=x_train.columns
p_values

sex         1.559926e-15
embarked    5.798371e-04
alone       2.651076e-03
pclass      3.339644e-06
dtype: float64

In [ ]:
p_values.sort_index(ascending=False)

sex         1.559926e-15
pclass      3.339644e-06
embarked    5.798371e-04
alone       2.651076e-03
dtype: float64

In [ ]:
#Observation - sex column is the most important column compared to outcome column

In [ ]:
#Feature Selection Techniques

In [ ]:
data=pd.read_csv("/content/mobile_dataset.csv")
data.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [ ]:
#Uni-Variate Selection

x=data.iloc[:,:-1]
y=data['price_range']

In [ ]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

#Apply SelectKBest algorithm

ordered_rank_features=SelectKBest(score_func=chi2,k=10)
ordered_feature=ordered_rank_features.fit(x,y)

In [ ]:
pd.DataFrame(ordered_feature.scores_,x.columns,columns=['Score'])

                       Score
battery_power   14129.866576
blue                0.723232
clock_speed         0.648366
dual_sim            0.631011
fc                 10.135166
four_g              1.521572
int_memory         89.839124
m_dep               0.745820
mobile_wt          95.972863
n_cores             9.097556
pc                  9.186054
px_height       17363.569536
px_width         9810.586750
ram            931267.519053
sc_h                9.614878
sc_w               16.480319
talk_time          13.236400
three_g             0.327643
touch_screen        1.928429
wifi                0.422091

In [ ]:
#High the value of score, higher the value of that feature

In [ ]:
#Feature Importance - gives a score for each of the data, the higher the score, the more relevant it is

In [ ]:
from sklearn.ensemble import ExtraTreesClassifier
import matplotlib.pyplot as plt
model=ExtraTreesClassifier()
model.fit(x_train,y_train)

ExtraTreesClassifier()

In [ ]:
print(model.features_importances_)

In [ ]:
#Pearson correlation:
# 1. If values of both independent and dependent features increase it is positive correlation
# 2. If values of both independent and dependent features decrease it is negative correaltion
# 3. If values of independent feature increase but dependent feature decrease then it is inverse correlation

In [ ]:
data.corr()