In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#ONE HOT ENCODING

In [ ]:
data=pd.read_csv("/content/Titanic Data Set CSV File (main).csv",usecols=['Sex'])

In [ ]:
data.head()

      Sex
0    male
1  female
2  female
3  female
4    male

In [ ]:
pd.get_dummies(data,drop_first=True).head()

   Sex_male
0         1
1         0
2         0
3         0
4         1

In [ ]:
data=pd.read_csv("/content/Titanic Data Set CSV File (main).csv",usecols=['Embarked'])

In [ ]:
data['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [ ]:
data.dropna(inplace=True)

In [ ]:
pd.get_dummies(data).head()

   Embarked_C  Embarked_Q  Embarked_S
0           0           0           1
1           1           0           0
2           0           0           1
3           0           0           1
4           0           0           1

In [ ]:
data=pd.read_csv("/content/Mercedes Data Set CSV File.csv",usecols=['X0','X1','X2','X3','X4','X5','X6'])

In [ ]:
data.head()

   X0 X1  X2 X3 X4 X5 X6
0   k  v  at  a  d  u  j
1   k  t  av  e  d  y  l
2  az  w   n  c  d  x  j
3  az  t   n  f  d  x  l
4  az  v   n  f  d  h  d

In [ ]:
#counting number of unique categories in each feature
for col in data.columns:
  print(col,':',len(data[col].unique()),'labels')

X0 : 47 labels
X1 : 27 labels
X2 : 44 labels
X3 : 7 labels
X4 : 4 labels
X5 : 29 labels
X6 : 12 labels

In [ ]:
pd.get_dummies(data,drop_first=True).shape

(4209, 163)

In [ ]:
#We can see that from initial 6 categorical variables, we get 163 new varaibles

In [ ]:
#let's find the top 10 most frequent categories for the variable X2
data.X2.value_counts().sort_values(ascending=False).head(20)

as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
aq      63
ay      54
a       47
t       29
k       25
i       25
b       21
ao      20
ag      19
z       19
Name: X2, dtype: int64

In [ ]:
#let's make a list with the most frequent categories of the variable
top_10=[x for x in data.X2.value_counts().sort_values(ascending=False).head(10).index]

In [ ]:
top_10

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

In [ ]:
#and now we make the 10 binary variables
for label in top_10:
  data[label]=np.where(data['X2']==label,1,0)
data[['X2']+top_10].head(40)
#Since at is not present anywhere therefore we put it zero

    X2  as  ae  ai  m  ak  r  n  s  f  e
0   at   0   0   0  0   0  0  0  0  0  0
1   av   0   0   0  0   0  0  0  0  0  0
2    n   0   0   0  0   0  0  1  0  0  0
3    n   0   0   0  0   0  0  1  0  0  0
4    n   0   0   0  0   0  0  1  0  0  0
5    e   0   0   0  0   0  0  0  0  0  1
6    e   0   0   0  0   0  0  0  0  0  1
7   as   1   0   0  0   0  0  0  0  0  0
8   as   1   0   0  0   0  0  0  0  0  0
9   aq   0   0   0  0   0  0  0  0  0  0
10   r   0   0   0  0   0  1  0  0  0  0
11   e   0   0   0  0   0  0  0  0  0  1
12  ai   0   0   1  0   0  0  0  0  0  0
13   e   0   0   0  0   0  0  0  0  0  1
14  as   1   0   0  0   0  0  0  0  0  0
15  ak   0   0   0  0   1  0  0  0  0  0
16   e   0   0   0  0   0  0  0  0  0  1
17  as   1   0   0  0   0  0  0  0  0  0
18   m   0   0   0  1   0  0  0  0  0  0
19  ak   0   0   0  0   1  0  0  0  0  0
20   m   0   0   0  1   0  0  0  0  0  0
21  as   1   0   0  0   0  0  0  0  0  0
22   a   0   0   0  0   0  0  0  0  0  0
23   m   0   0   0  1   0  0  0  0  0  0
24  ak   0   0   0  0   1  0  0  0  0  0
25   m   0   0   0  1   0  0  0  0  0  0
26  as   1   0   0  0   0  0  0  0  0  0
27  as   1   0   0  0   0  0  0  0  0  0
28  as   1   0   0  0   0  0  0  0  0  0
29   m   0   0   0  1   0  0  0  0  0  0
30  as   1   0   0  0   0  0  0  0  0  0
31  as   1   0   0  0   0  0  0  0  0  0
32   m   0   0   0  1   0  0  0  0  0  0
33  as   1   0   0  0   0  0  0  0  0  0
34  as   1   0   0  0   0  0  0  0  0  0
35  ai   0   0   1  0   0  0  0  0  0  0
36  as   1   0   0  0   0  0  0  0  0  0
37   k   0   0   0  0   0  0  0  0  0  0
38  as   1   0   0  0   0  0  0  0  0  0
39  as   1   0   0  0   0  0  0  0  0  0

In [ ]:
#COUNT FREQUENCY ENCODING
data=pd.read_csv("/content/Mercedes Data Set CSV File.csv",usecols=['X1',"X2"])
data.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [ ]:
data.shape

(4209, 2)

In [ ]:
pd.get_dummies(data).shape

(4209, 71)

In [ ]:
#finding unique values in each category
len(data['X1'].unique())

27

In [ ]:
len(data['X2'].unique())

44

In [ ]:
#let's obtain the counts for each one of the labels in the variable X2
#let's capture this in a dictionary that we can use to re-map the labels

freq_x2=data.X2.value_counts().to_dict()

In [ ]:
data.X2=data.X2.map(freq_x2)
data.head()

  X1   X2
0  v    6
1  t    4
2  w  137
3  t  137
4  v  137

In [ ]:
#ORDINAL ENCODING

In [ ]:
import datetime
today_date=datetime.datetime.today()
today_date

datetime.datetime(2023, 6, 7, 7, 18, 40, 253741)

In [ ]:
#to get difference of dates we use timedelta function
today_date-datetime.timedelta(3)
#gives 3 days difference

datetime.datetime(2023, 6, 4, 7, 18, 40, 253741)

In [ ]:
#creating a data of last 15 days
#list comprehension

days=[today_date-datetime.timedelta(x) for x in range(0,15)]

In [ ]:
#converting days into dataframe

data=pd.DataFrame(days)
data.columns=['Day']

In [ ]:
data.head()

                         Day
0 2023-06-07 07:18:40.253741
1 2023-06-06 07:18:40.253741
2 2023-06-05 07:18:40.253741
3 2023-06-04 07:18:40.253741
4 2023-06-03 07:18:40.253741

In [ ]:
#data['weekday']=data['Day'].dt.weekday_name
#data.head()

In [ ]:
dict={'Monday':1,'Tuesday':2,'Wednesday':3,'Thursday':4,'Friday':5,'Saturday':6,'Sunday':7}
dict

{'Monday': 1,
 'Tuesday': 2,
 'Wednesday': 3,
 'Thursday': 4,
 'Friday': 5,
 'Saturday': 6,
 'Sunday': 7}

In [ ]:
#data['weekday_ordinal']=data['weekday'].map(dict)

In [ ]:
#TARGET GUIDED ENCODING

In [ ]:
data=pd.read_csv('/content/Titanic Data Set CSV File (main).csv',usecols=['Survived','Cabin'])

In [ ]:
data.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [ ]:
data['Cabin'].fillna('Missing',inplace=True)
data.head()

   Survived    Cabin
0         0  Missing
1         1      C85
2         1  Missing
3         1     C123
4         0  Missing

In [ ]:
data['Cabin']=data['Cabin'].astype(str).str[0]

In [ ]:
data.Cabin.unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [ ]:
data.groupby(['Cabin'])['Survived'].mean()

Cabin
A    0.466667
B    0.744681
C    0.593220
D    0.757576
E    0.750000
F    0.615385
G    0.500000
M    0.299854
T    0.000000
Name: Survived, dtype: float64

In [ ]:
#grouping the data of cabin on the basis of survived column
ordinal_labels=data.groupby(['Cabin'])['Survived'].mean().sort_values().index

In [ ]:
ordinal_labels2={k:i for i,k in enumerate(ordinal_labels,0)}

In [ ]:
data['Cabin_ordinal_labels']=data['Cabin'].map(ordinal_labels2)
data.head()

   Survived Cabin  Cabin_ordinal_labels
0         0     M                     1
1         1     C                     4
2         1     M                     1
3         1     C                     4
4         0     M                     1

In [ ]:
#dropping the Cabin column
#data=data.drop(["Cabin"],axis=1)
#data.head()

In [ ]:
#MEAN ENCODING

In [ ]:
mean_ordinal=data.groupby(['Cabin'])['Survived'].mean().to_dict()

In [ ]:
data['mean_ordinal_encode']=data['Cabin'].map(mean_ordinal)
data.head()

   Survived Cabin  Cabin_ordinal_labels  mean_ordinal_encode
0         0     M                     1             0.299854
1         1     C                     4             0.593220
2         1     M                     1             0.299854
3         1     C                     4             0.593220
4         0     M                     1             0.299854

In [ ]:
'''PROBABILITY RATIO ENCODING
STEPS

1.Probability of survived bsed on Cabin --- categorical feature
2.Prob of not survived --- 1-prob(Survived)
3.prob(Survived)/prob(Not Survived)
4.Dictionary to map cabin with prob
5.replace with the categorical feature'''

'PROBABILITY RATIO ENCODING\n\\STEPS\n\n1.Probability of survived bsed on Cabin --- categorical feature\n2.Prob of not survived --- 1-prob(Survived)\n3.prob(Survived)/prob(Not Survived)\n4.Dictionary to map cabin with prob\n5.replace with the categorical feature'